:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-font: Roboto;
  --secondary-font: Raleway;
  --footer-color: #2f303a;
  --text-footer: rgba(255, 255, 255, 0.6);
}
/* Хедер */
body {
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logo-web {
  color: var(--accent-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: #2f303a;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: #058cf6;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #058cf7;
  color: var(--title-text-color);
}
.title {
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* Наши преимущества */
.section-title {
  font-weight: 700;

  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.details {
  font-style: normal;
  font-weight: 400;

  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* процессы и команда */
.vector,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* портфолио */
.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-projeсt {
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}
/* Футер */

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.link-connection {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-footer);
}
.link-connection:hover,
.link-connection:focus {
  color: var(--primary-white-color);
}
footer {
  background-color: var(--footer-color);
}
