:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-color: #2f303a;
  --text-footer: rgba(255, 255, 255, 0.6);
  --primary-batton-bg-color: #f5f4fa;
  --border-color: #ececec;

  --primary-font: Roboto;
  --secondary-font: Raleway;
}

h1,
h2,
h3,
p {
  margin: 0;
  list-style: none;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Хедер */

.header {
  border-bottom: 1px solid var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logo-web {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.link-box {
  display: flex;
  margin-left: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.link-box {
  display: flex;
}
.link-box.nav-item:last-child {
  margin-left: 50;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: #2f303a;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: #058cf6;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #058cf7;
  color: var(--title-text-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Наши преимущества */

.title-details {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}
.item {
  max-width: 270px;
}
.title-details.item:not(:last-child) {
  margin-left: 30;
}

.section-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 10px;
}
.details {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */
/* Наша команда */

.card-set {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.card-set > .img-box {
  margin-left: 30px;
  margin-top: 30px;
}

.vector {
  margin-bottom: 50px;
}
.team {
  margin-bottom: 20px;
}
.vector,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-list {
  display: flex;
}

.team-list > .team-box {
  margin-left: 30px;
  margin-top: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.position-box {
  margin-top: 30px;
  text-align: center;
}

.position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}

/* портфолио */

.filter-battons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button:last-child {
  margin-right: 8px;
}
.portfolio-button {
  padding: 6px 22px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--primary-batton-bg-color);
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-projeсt {
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

/* Футер */

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  padding-top: 60px;
}

.link-connection {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-footer);
  padding-bottom: 60px;
}
.link-connection:hover,
.link-connection:focus {
  color: var(--primary-white-color);
}
footer {
  background-color: var(--footer-color);
}
